# Q-1 In this question you have to scrape data using the filters available on the webpage You have to use the location and salary filter.
You have to scrape data for ‚ÄúData Scientist‚Äù designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is ‚ÄúDelhi/NCR‚Äù. The salary filter to be used is ‚Äú3-6‚Äù lakhs

In [2]:
#importing required libraries
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
import pandas as pd

In [2]:
#opening webdriver automically
driver= webdriver.Chrome()

In [3]:
#Opening website using web browser
driver.get('https://www.naukri.com/')

In [4]:
#By using absolute xpath searching for data scientist jobs
designation= driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [5]:
# clicking search button by using click command using absolute xpath
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [9]:
#using filter to fetch the jobs from Delhi/NCR
location = driver.find_element(By.XPATH,"/html/body/div/div/main/div[1]/div[1]/div/div/div[2]/div[5]/div[2]/div[3]/label/p/span[1]")
location.click()

In [10]:
# fetching the salary range of 3-6 lakhs using salary filter
salary_range = driver.find_element(By.XPATH,"/html/body/div/div/main/div[1]/div[1]/div/div/div[2]/div[5]/div[2]/div[2]/label/p/span[1]")
salary_range.click()

In [11]:
#Creating enpty lists
job_title =[]
job_location = []
company_name = []
experience_required = []

In [12]:
#Scraping all the fields for which we created empty lists above by using relative xpath and using append method to store all the data in the creatde list
title_tags = driver.find_elements(By.XPATH,'//a[@class="title "]')
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)
    
    
location_tags = driver.find_elements(By.XPATH,'//span[@class="locWdth"]')
for i in location_tags[0:10]:
    location = i.text
    job_location.append(location)
    
company_tags = driver.find_elements(By.XPATH,'//a[@class=" comp-name mw-25"]') 
for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)   

    
experience_tags = driver.find_elements(By.XPATH,'//span[@class="expwdth"]') 
for i in experience_tags[0:10]:
    experience = i.text
    experience_required.append(experience)

In [13]:
len(job_title), len(job_location), len(company_name), len(experience_required)

(10, 10, 10, 10)

In [14]:
#creating dataframe fpr top 10 job results
df = pd.DataFrame({'Title': title_tags[0:10],'Location': job_location[0:10], 'Company name': company_name[0:10], 'Experience': experience_required[0:10]})
df

,Title,Location,Company name,Experience
0,<selenium.webdriver.remote.webelement.WebEleme...,Gurugram,IBM,3-7 Yrs
1,<selenium.webdriver.remote.webelement.WebEleme...,New Delhi,Team Computers,2-6 Yrs
2,<selenium.webdriver.remote.webelement.WebEleme...,Gurugram,Cogmac Technologies,4-6 Yrs
3,<selenium.webdriver.remote.webelement.WebEleme...,Noida,Expedite Technology Solutions,1-5 Yrs
4,<selenium.webdriver.remote.webelement.WebEleme...,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Essenware,0-5 Yrs
5,<selenium.webdriver.remote.webelement.WebEleme...,"Noida, Greater Noida",Hexaware Technologies,0-4 Yrs
6,<selenium.webdriver.remote.webelement.WebEleme...,"Lakshadweep, Chandigarh, New Delhi, Ahmedabad,...",Accenture,1-3 Yrs
7,<selenium.webdriver.remote.webelement.WebEleme...,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Accenture,2-6 Yrs
8,<selenium.webdriver.remote.webelement.WebEleme...,Noida,Essenware,5-8 Yrs
9,<selenium.webdriver.remote.webelement.WebEleme...,Noida,Adidas,3-7 Yrs

# Q2: Write a python program to scrape data for ‚ÄúData Scientist‚Äù Job position in ‚ÄúBangalore‚Äù location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter ‚ÄúData Analyst‚Äù in ‚ÄúJob title, Skills‚Äù field and enter ‚ÄúBangalore‚Äù in ‚Äúenter the location‚Äù field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [15]:
#connecting to driver
driver = webdriver.Chrome()

In [17]:
#opening website of shine.com
driver.get('https://www.shine.com/')

In [19]:
#entering the job details i.e data sceientist in the search column
designation = driver.find_element(By.CLASS_NAME,"form-control  ") 
designation.send_keys("Data Scientist")

In [20]:
# entering location in the location search box
location = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [21]:
#clicking on search button for getting desired output
search = driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [23]:
#creating empty lists
job_title1 =[]
job_location1 = []
company_name1 = []
experience_required1 = []

In [24]:
#scraping job title, location, company name and required experince and then using append command to store it in a list which is made above
#scraping job title from the given page

title_tags = driver.find_elements(By.XPATH,'//strong[@class="jobCard_pReplaceH2__xWmHg"]')
for i in title_tags[0:10]:
    titles = i.text
    job_title1.append(titles)
    
company_tags = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags[0:10]:
    company = i.text
    company_name1.append(company)  
    
location_tags = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags:
    location = i.text
    job_location1.append(location)
    
experience_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags:
    exp= i.text
    experience_required1.append(exp)

In [26]:
#creating dataframe
df1 = pd.DataFrame({'Title': job_title1[0:10],'Location': job_location1[0:10], 'Company name': company_name1[0:10], 'Experience': experience_required1[0:10]})
df1

,Title,Location,Company name,Experience
0,Data Scientist,Bangalore\n+6,techno endura,0 to 2 Yrs
1,Lead Data Scientist,Bangalore\n+8,spento papers (india) llp,12 to 22 Yrs
2,Data Scientist,Bangalore\n+9,future solution centre,2 to 7 Yrs
3,Data Scientist,Bangalore\n+2,the christopher's consulting and re...,0 to 2 Yrs
4,Data Scientist,Bangalore,eliterecruitments hiring for global...,4 to 8 Yrs
5,Data Scientist,Bangalore\n+9,divya staffing solution,0 to 4 Yrs
6,Data Science Analytics,Bangalore\n+7,mackenzie modern it solutions priva...,5 to 8 Yrs
7,Data Science Manager,Bangalore\n+7,mackenzie modern it solutions priva...,3 to 8 Yrs
8,Data Analyst,Bangalore\n+4,aryan technology,0 to 4 Yrs
9,Data Management Team Leader,Bangalore\n+9,overnet trading private limited,0 to 4 Yrs

# Q3: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART
As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews

In [27]:
#connecting to the webdriver
driver = webdriver.Chrome()

In [28]:
#opening the page where i-phone reviews are shown
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART")

In [29]:
#creating empty list for saving data
rating= []
review_summary = []
full_review = []

In [35]:
#scraping top 100 rating, review summary and full reviews and then append then to list empty list created
start = 0
end = 10
for page in range(start,end):
    ratings =  driver.find_elements(By.XPATH,'//div[@class="XQDdHH Ga3i8K"]')
    for i in ratings[0:100]:
        rating.append(i.text)
        
for page in range(start,end):
    rev = driver.find_elements(By.XPATH,'//p[@class="z9E0IG"]')
    for i in rev[0:100]:
        review_summary.append(i.text)
        
for page in range(start,end):
    full_rev = driver.find_elements(By.XPATH,'//div[@class="ZmyHeo"]')
    for i in full_rev[0:100]:
        full_review.append(i.text)
        
        
       
      
next_button = driver.find_elements(By.XPATH, '/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]/span')
next_button.click()
time.sleep(5)

SyntaxError: unterminated string literal (detected at line 21) (3566927988.py, line 21)

In [36]:
#checking length of lists to make dataframe
len(rating),len(review_summary),len(full_review)

(200, 200, 200)

In [37]:
#making dataframe
df2=pd.DataFrame({"Rating":rating[0:100],"Review Summary": review_summary[0:100],"Full Review": full_review[0:100]})
df2

,Rating,Review Summary,Full Review
0,5,Terrific,Very very good
1,5,Perfect product!,Photos super
2,5,Best in the market!,Good Camera
3,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
4,5,Terrific purchase,Value for money üòç
...,...,...,...
95,5,Worth every penny,Feeling awesome after getting the delivery of ...
96,5,Wonderful,This is amazing at all
97,5,Must buy!,"Go for iPhone 11 , if confused between iPhone ..."
98,5,Just wow!,Perfect Product!!
99,5,Brilliant,Excellent Phone.

# Q4: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for ‚Äúsneakers‚Äù in the search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [38]:
#opening webdriver
driver = webdriver.Chrome()

In [39]:
#opening website of flipkart through the driver
driver.get("https://www.flipkart.com/")

In [40]:
#Using of find_element method for absolute XPATH, to send "snekares" item as a key value
shoes = driver.find_element(By.CLASS_NAME,"Pke_EE")
shoes.send_keys('Sneakers')

In [41]:
#clicking on search button using xpath
search = driver.find_element(By.CLASS_NAME,"_2iLD__")
search.click()

In [42]:
#creating empty lists for storing data
brand = []
product_desc = []
price = []

In [44]:
# scraping brand,product description and price using xpath and then navigating through pages using next button
start = 0
end = 3
for page in range(start,end):
    brands = driver.find_elements(By.XPATH,'//div[@class="syl9yP"]')
    for i in brands:
        brand.append(i.text)
        
for page in range(start,end):
    description = driver.find_elements(By.XPATH,'//a[@class="WKTcLC"]')
    for i in description:
        product_desc.append(i.text)
        
        
for page in range(start,end):
    prices = driver.find_elements(By.XPATH,'//div[@class="Nx9bqj"]')
    for i in prices:
        price.append(i.text)
        
       
        
next_button1 = driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')        
next_button1.click()
time.sleep(5)

In [45]:
brand[:100]

['aadi',
 'Deals4you',
 'Red Tape',
 'Red Tape',
 'Aeonik',
 'Shozie',
 'PUMA',
 'PUMA',
 'FAUSTO',
 'PUMA',
 'Deals4you',
 'Arivo',
 'Skechers',
 'CAMPUS',
 'HERE&NOW',
 'asian',
 'Peelu',
 'Xtoon',
 'Red Tape',
 'HERE&NOW',
 'Deals4you',
 'Xtoon',
 'asian',
 'CAMPUS',
 'Red Tape',
 'CAMPUS',
 'Peelu',
 'Xtoon',
 'Red Tape',
 'HERE&NOW',
 'Deals4you',
 'VENDOZ',
 'Red Tape',
 'Sparx',
 'PUMA',
 'Mast & Harbour',
 'Deals4you',
 'BERSACHE',
 'PUMA',
 'CAMPUS',
 'aadi',
 'Deals4you',
 'Red Tape',
 'Red Tape',
 'Aeonik',
 'Shozie',
 'PUMA',
 'PUMA',
 'FAUSTO',
 'PUMA',
 'Deals4you',
 'Arivo',
 'Skechers',
 'CAMPUS',
 'HERE&NOW',
 'asian',
 'Peelu',
 'Xtoon',
 'Red Tape',
 'HERE&NOW',
 'Deals4you',
 'Xtoon',
 'asian',
 'CAMPUS',
 'Red Tape',
 'CAMPUS',
 'Peelu',
 'Xtoon',
 'Red Tape',
 'HERE&NOW',
 'Deals4you',
 'VENDOZ',
 'Red Tape',
 'Sparx',
 'PUMA',
 'Mast & Harbour',
 'Deals4you',
 'BERSACHE',
 'PUMA',
 'CAMPUS',
 'aadi',
 'Deals4you',
 'Red Tape',
 'Red Tape',
 'Aeonik',
 'Shozie',
 'PUMA',
 'PUMA',
 'FAUSTO',
 'PUMA',
 'Deals4you',
 'Arivo',
 'Skechers',
 'CAMPUS',
 'HERE&NOW',
 'asian',
 'Peelu',
 'Xtoon',
 'Red Tape',
 'HERE&NOW']

In [46]:
product_desc[:100]

['Sneakers For Women',
 'Sneaker Casual Shoes For Men | Soft Cushion Insole, Sli...',
 'Sneaker Casual Shoes For Men | Soft Cushion Insole, Sli...',
 'Stylish Sneakers Shoes for Women And Girls Sneakers For...',
 'UP Sneakers For Men',
 'Rungryp Sneakers For Men',
 'Breathable Sport Shoes|KPU Upper And Anti-Skid Bounce B...',
 'Buzz Sneakers For Men',
 'MODERN COOL-OKARA Sneakers For Men',
 'OG-D1 Sneakers For Men',
 'Boston-01 Chunky Sneakers,Loafers,Walking Shoes Sneaker...',
 'Sneaker Casual Shoes | Soft Cushion Insole, Slip-Resist...',
 'Sneaker Casual Shoes For Men | Soft Cushion Insole || B...',
 'OG-D3 Sneakers For Men',
 'Casual Sneaker Shoes for Men | Elegantly Rounded Front,...',
 'OG-D3 Sneakers For Men',
 'Casual Sneaker Shoes For Men | Comfortable & Slip Resis...',
 'Sneakers For Women',
 'Sneakers For Women',
 'Casual Sneaker Shoes for Men | Shock Absorbant, Slip Re...',
 'SM 784 | Stylish, Comfortable | Sneakers For Men',
 'Sneakers For Women',
 'Bersache Sneaker, Loafers ,Casual With Extra Comfort Sn...',
 'Buzz Sneakers For Men',
 'OG-D3 Sneakers For Men',
 'Sneakers For Women',
 'Sneaker Casual Shoes For Men | Soft Cushion Insole, Sli...',
 'Sneaker Casual Shoes For Men | Soft Cushion Insole, Sli...',
 'Stylish Sneakers Shoes for Women And Girls Sneakers For...',
 'UP Sneakers For Men',
 'Rungryp Sneakers For Men',
 'Breathable Sport Shoes|KPU Upper And Anti-Skid Bounce B...',
 'Buzz Sneakers For Men',
 'MODERN COOL-OKARA Sneakers For Men',
 'OG-D1 Sneakers For Men',
 'Boston-01 Chunky Sneakers,Loafers,Walking Shoes Sneaker...',
 'Sneaker Casual Shoes | Soft Cushion Insole, Slip-Resist...',
 'Sneaker Casual Shoes For Men | Soft Cushion Insole || B...',
 'OG-D3 Sneakers For Men',
 'Casual Sneaker Shoes for Men | Elegantly Rounded Front,...',
 'OG-D3 Sneakers For Men',
 'Casual Sneaker Shoes For Men | Comfortable & Slip Resis...',
 'Sneakers For Women',
 'Sneakers For Women',
 'Casual Sneaker Shoes for Men | Shock Absorbant, Slip Re...',
 'SM 784 | Stylish, Comfortable | Sneakers For Men',
 'Sneakers For Women',
 'Bersache Sneaker, Loafers ,Casual With Extra Comfort Sn...',
 'Buzz Sneakers For Men',
 'OG-D3 Sneakers For Men',
 'Sneakers For Women',
 'Sneaker Casual Shoes For Men | Soft Cushion Insole, Sli...',
 'Sneaker Casual Shoes For Men | Soft Cushion Insole, Sli...',
 'Stylish Sneakers Shoes for Women And Girls Sneakers For...',
 'UP Sneakers For Men',
 'Rungryp Sneakers For Men',
 'Breathable Sport Shoes|KPU Upper And Anti-Skid Bounce B...',
 'Buzz Sneakers For Men',
 'MODERN COOL-OKARA Sneakers For Men',
 'OG-D1 Sneakers For Men',
 'Boston-01 Chunky Sneakers,Loafers,Walking Shoes Sneaker...',
 'Sneaker Casual Shoes | Soft Cushion Insole, Slip-Resist...',
 'Sneaker Casual Shoes For Men | Soft Cushion Insole || B...',
 'OG-D3 Sneakers For Men',
 'Casual Sneaker Shoes for Men | Elegantly Rounded Front,...',
 'OG-D3 Sneakers For Men',
 'Casual Sneaker Shoes For Men | Comfortable & Slip Resis...',
 'Sneakers For Women',
 'Sneakers For Women',
 'Casual Sneaker Shoes for Men | Shock Absorbant, Slip Re...',
 'SM 784 | Stylish, Comfortable | Sneakers For Men',
 'Sneakers For Women',
 'Bersache Sneaker, Loafers ,Casual With Extra Comfort Sn...',
 'Buzz Sneakers For Men',
 'OG-D3 Sneakers For Men',
 'Sneakers For Women',
 'Sneaker Casual Shoes For Men | Soft Cushion Insole, Sli...',
 'Sneaker Casual Shoes For Men | Soft Cushion Insole, Sli...',
 'Stylish Sneakers Shoes for Women And Girls Sneakers For...',
 'UP Sneakers For Men',
 'Rungryp Sneakers For Men',
 'Breathable Sport Shoes|KPU Upper And Anti-Skid Bounce B...',
 'Buzz Sneakers For Men',
 'MODERN COOL-OKARA Sneakers For Men',
 'OG-D1 Sneakers For Men',
 'Boston-01 Chunky Sneakers,Loafers,Walking Shoes Sneaker...',
 'Sneaker Casual Shoes | Soft Cushion Insole, Slip-Resist...',
 'Sneaker Casual Shoes For Men | Soft Cushion Insole || B...',
 'OG-D3 Sneakers For Men',
 'Casual Sneaker Shoes for Men | Elegantly Rounded Front,...',
 'OG-D3 Sneakers For Men',
 'Casual Sneaker Shoes For Men | Comfortable & Slip Resis...',
 'Sneakers For Women',
 'Sneakers For Women',
 'Casual Sneaker Shoes for Men | Shock Absorbant, Slip Re...',
 'SM 784 | Stylish, Comfortable | Sneakers For Men',
 'Sneakers For Women',
 'Bersache Sneaker, Loafers ,Casual With Extra Comfort Sn...',
 'Buzz Sneakers For Men',
 'OG-D3 Sneakers For Men']

In [47]:
price[:100]

['‚Çπ422',
 '‚Çπ419',
 '‚Çπ1,349',
 '‚Çπ1,349',
 '‚Çπ497',
 '‚Çπ449',
 '‚Çπ1,880',
 '‚Çπ2,350',
 '‚Çπ1,599',
 '‚Çπ1,299',
 '‚Çπ449',
 '‚Çπ699',
 '‚Çπ1,814',
 '‚Çπ736',
 '‚Çπ1,169',
 '‚Çπ809',
 '‚Çπ639',
 '‚Çπ442',
 '‚Çπ1,349',
 '‚Çπ1,169',
 '‚Çπ449',
 '‚Çπ533',
 '‚Çπ809',
 '‚Çπ625',
 '‚Çπ1,474',
 '‚Çπ651',
 '‚Çπ599',
 '‚Çπ505',
 '‚Çπ1,159',
 '‚Çπ1,169',
 '‚Çπ439',
 '‚Çπ639',
 '‚Çπ1,119',
 '‚Çπ844',
 '‚Çπ1,299',
 '‚Çπ1,124',
 '‚Çπ498',
 '‚Çπ730',
 '‚Çπ1,299',
 '‚Çπ657',
 '‚Çπ422',
 '‚Çπ419',
 '‚Çπ1,349',
 '‚Çπ1,349',
 '‚Çπ497',
 '‚Çπ449',
 '‚Çπ1,880',
 '‚Çπ2,350',
 '‚Çπ1,599',
 '‚Çπ1,299',
 '‚Çπ449',
 '‚Çπ699',
 '‚Çπ1,814',
 '‚Çπ736',
 '‚Çπ1,169',
 '‚Çπ809',
 '‚Çπ639',
 '‚Çπ442',
 '‚Çπ1,349',
 '‚Çπ1,169',
 '‚Çπ449',
 '‚Çπ533',
 '‚Çπ809',
 '‚Çπ625',
 '‚Çπ1,474',
 '‚Çπ651',
 '‚Çπ599',
 '‚Çπ505',
 '‚Çπ1,159',
 '‚Çπ1,169',
 '‚Çπ439',
 '‚Çπ639',
 '‚Çπ1,119',
 '‚Çπ844',
 '‚Çπ1,299',
 '‚Çπ1,124',
 '‚Çπ498',
 '‚Çπ730',
 '‚Çπ1,299',
 '‚Çπ657',
 '‚Çπ422',
 '‚Çπ419',
 '‚Çπ1,349',
 '‚Çπ1,349',
 '‚Çπ497',
 '‚Çπ449',
 '‚Çπ1,880',
 '‚Çπ2,350',
 '‚Çπ1,599',
 '‚Çπ1,299',
 '‚Çπ449',
 '‚Çπ699',
 '‚Çπ1,814',
 '‚Çπ736',
 '‚Çπ1,169',
 '‚Çπ809',
 '‚Çπ639',
 '‚Çπ442',
 '‚Çπ1,349',
 '‚Çπ1,169']

# Q5: Go to webpage https://www.amazon.in/ Enter ‚ÄúLaptop‚Äù in the search field and then click the search icon. Then set CPU Type filter to ‚ÄúIntel Core i7‚Äù as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [48]:
#opening webdriver
driver = webdriver.Chrome()

In [49]:
#opening amazon.com from webdriver
driver.get(" https://www.amazon.in/ ")

In [50]:
#searching desired product i.e "Laptop" using send keys
product = driver.find_element(By.ID,'twotabsearchtextbox' )
product.send_keys('Laptop')

In [51]:
#clicking on search button to search the product
search = driver.find_element(By.CLASS_NAME,"nav-right")
search.click()

In [52]:
#selecting the type of processor using the filter(intel core i7)
cpu = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[5]/ul[2]/span/span[9]/li/span/a/span")
cpu.click()

In [53]:
#creating empty lists for storing data
title = []
ratings = []
price = []

In [54]:
#scraping top 10 laptop titles,ratings and price by using xpath and then appending the data to the empty lists
name= driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in name[0:10]:
    titlen=i.text
    title.append(titlen)
    
rating=  driver.find_elements(By.XPATH,'//i[@class="a-icon a-icon-star-small a-star-small-4 aok-align-bottom"]')
for i in rating[0:10]:
    ratin= i.text
    ratings.append(ratin)  
    
    
prices = driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in prices[0:10]:
    rate = i.text
    price.append(rate)

In [55]:
#check lengths of lists to make dataframe 
len(title),len(ratings),len(price)

(10, 10, 10)

In [57]:
#creating dataframe
df3 = pd.DataFrame({'Title':title, 'Ratings': ratings, 'Price': price})
df3

                                               Title Ratings   Price
0  HP Laptop 15,12th Gen Intel Core i3-1215U,15.6...          34,990
1  ASUS Vivobook 14 Thin and Light Laptop, IntelC...          35,990
2  Dell [Smartchoice]15 Thin & Light Laptop, 12th...          37,490
3  NSXEEN Portable Laptop Stand, Aluminum Adjusta...          36,449
4  Acer Aspire 3 Intel Core i3-1215U Processor La...          34,990
5  HP Laptop 15, 12th Gen i3-1215U, 15.6-inch (39...          35,990
6  Lenovo IdeaPad Slim 3 Intel Core i3 12th Gen 1...             449
7  Lenovo IdeaPad Slim 3 12th Gen Intel Core i3-1...          29,690
8  Acer Aspire Lite 12th Gen Intel Core i3-1215U ...          35,999
9  Lenovo IdeaPad Slim 3 Intel Core i3 12th Gen 1...          35,190

# Q6: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on Top Quote
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [79]:
#opening webdriver
driver = webdriver.Chrome()

In [80]:
#opening website of azquotes.com through driver
driver.get('https://www.azquotes.com/')

In [81]:
#clicking on top quotes button through click command
top_quotes = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
top_quotes.click()

In [82]:
#creating empty lists 
quote=[]
author=[]
type_of_quote=[]

In [99]:
#fething the quotes,author and type of qutes using xpath and then appending it to the empty list and then for scraping 1000 quotes navigating through pages using next button
start=0
end=10
for page in range(start,end):
    qut= driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in qut:
        quote.append(i.text)
        
for page in range(start,end):
    auth= driver.find_elements(By.XPATH,'//div[@class="author"]')
    for d in auth:
        author.append(d.text)
        
for page in range(start,end):
    type= driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for d in type:
        type_of_quote.append(d.text)
        
        
next_button2= driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[13]/a")
next_button2.click()
time.sleep(3)

WebDriverException: Message: disconnected: not connected to DevTools
  (failed to check if window was closed: disconnected: not connected to DevTools)
  (Session info: chrome=116.0.5845.97)
Stacktrace:
	GetHandleVerifier [0x00007FF7916952A2+57122]
	(No symbol) [0x00007FF79160EA92]
	(No symbol) [0x00007FF7914DE3AB]
	(No symbol) [0x00007FF7914CBA47]
	(No symbol) [0x00007FF7914CB6C0]
	(No symbol) [0x00007FF7914DFA71]
	(No symbol) [0x00007FF79154E27F]
	(No symbol) [0x00007FF791536DB3]
	(No symbol) [0x00007FF79150D2B1]
	(No symbol) [0x00007FF79150E494]
	GetHandleVerifier [0x00007FF79193EF82+2849794]
	GetHandleVerifier [0x00007FF791991D24+3189156]
	GetHandleVerifier [0x00007FF79198ACAF+3160367]
	GetHandleVerifier [0x00007FF791726D06+653702]
	(No symbol) [0x00007FF79161A208]
	(No symbol) [0x00007FF7916162C4]
	(No symbol) [0x00007FF7916163F6]
	(No symbol) [0x00007FF7916067A3]
	BaseThreadInitThunk [0x00007FF978FC257D+29]
	RtlUserThreadStart [0x00007FF97940AF28+40]

In [100]:
#making dataframe
df4= pd.DataFrame({"Quote":quote[0:1000],"Author":author[0:1000],"Type Of Quote":type_of_quote[0:1000]})
df4

MemoryError:

MemoryError:

# Q7: Write a python program to display list of respected former Prime Ministers of India (i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/general-knowledge/list-of-all-prime-ministers-of-india-1473165149-1
scrap the mentioned data and make the DataFrame

In [3]:
#connecting to driver
driver = webdriver.Chrome()

In [3]:
#opening the website of jagranjosh through driver
driver.get('https://www.jagranjosh.com/general-knowledge/list-of-all-prime-ministers-of-india-1473165149-1')

In [4]:
#creating empty lists
name=[]
born_dead=[]
term_of_office=[]
remarks=[]

In [5]:
# not able to scrap data from table

# Q8: Write a python program to display list of 50 Most expensive cars in the world (i.e. Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to type in the search bar ‚Äô50 most expensive cars‚Äô
3. Then click on 50 most expensive cars in the world..
4. Then scrap the mentioned data and make the dataframe.

In [11]:
#connecting to driver
driver = webdriver.Chrome()

In [12]:
#opening the website of motor1.com through driver
driver.get('https://www.motor1.com/')

In [8]:
#serching the cars by using send key
search = driver.find_element(By.XPATH, "/html/body/div[9]/div[6]/form/input[2]")
search.send_keys('50 most expensive cars')

In [10]:
#Searching the cars using click command
cars= driver.find_element(By.XPATH,'/html/body/div[9]/div[6]/form/input[2]')
cars.click()

In [13]:
# creating empty list
car_name =[]
car_price= []

In [16]:
# scraping details of top 50 cars using xpath and appending it in list
carname= driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in carname[0:50]:
    car_name.append(i.text)
    
    
carprice = driver.find_elements(By.TAG_NAME,"strong") 
for i in carprice[0:50]:
    car_price.append(i.text)

In [17]:
#checking length to make dataframe
len(car_name),len(car_price)

(50, 50)

In [18]:
#making dataframe
df4 = pd.DataFrame({'Car Name': car_name[:50], 'car_price': car_price[:50]})
df4

                                     Car Name                    car_price
0                           McLaren Senna GTR                 $1.7 Million
1                                 Czinger 21C          Price: $1.7 Million
2                               Ferrari Monza          Price: $1.7 Million
3                          Gordon Murray T.33          Price: $1.7 Million
4                           Koenigsegg Gemera          Price: $1.7 Million
5                          Hennessey Venom F5          Price: $1.8 Million
6                             Bentley Bacalar          Price: $1.9 Million
7               Hispano Suiza Carmen Boulogne          Price: $1.9 Million
8                      Bentley Mulliner Batur          Price: $2.0 Million
9                                 SSC Tuatara          Price: $2.0 Million
10                                Lotus Evija          Price: $2.1 Million
11                        Aston Martin Vulcan          Price: $2.3 Million
12                                 Delage D12          Price: $2.3 Million
13                        Ferrari Daytona SP3          Price: $2.3 Million
14                          McLaren Speedtail          Price: $2.3 Million
15                               Rimac Nevera          Price: $2.4 Million
16                              Pagani Utopia          Price: $2.5 Million
17                       Pininfarina Battista          Price: $2.5 Million
18                         Gordon Murray T.50          Price: $2.6 Million
19                       Lamborghini Countach          Price: $2.6 Million
20              Hennessey Venom F5 Revolution                 $2.7 Million
21                   Mercedes-AMG Project One          Price: $2.7 Million
22                               Zenvo Aurora          Price: $2.8 Million
23                        Aston Martin Victor          Price: $3.0 Million
24                Hennessey Venom F5 Roadster                 $3.0 Million
25                           Koenigsegg Jesko          Price: $3.0 Million
26                                 Aspark Owl                 $3.1 Million
27                      Aston Martin Valkyrie          Price: $3.2 Million
28                  W Motors Lykan Hypersport          Price: $3.4 Million
29                              McLaren Solus                 $3.5 Million
30                        Pagani Huayra Evo R          $3.5 Million (est.)
31                           Lamborghini Sian          Price: $3.6 million
32                           Koenigsegg CC850          Price: $3.7 Million
33            Bugatti Chiron Super Sport 300+          Price: $3.9 Million
34  Gordon Murray Automotive T.50s Niki Lauda                 $3.9 Million
35                  Pagani Huayra Roadster BC                 $4.0 Million
36                         Lamborghini Veneno          Price: $4.5 Million
37                             Bugatti Bolide          Price: $4.7 Million
38                  Pininfarina B95 Speedster          Price: $4.8 Million
39                            Bugatti Mistral          Price: $5.0 Million
40                               Bugatti Divo          Price: $5.8 Million
41                        Pagani Huayra Imola                 $6.0 Million
42                           Pagani Codalunga          Price: $7.4 Million
43                   Mercedes-Maybach Exelero          Price: $8.0 Million
44                         Bugatti Centodieci          Price: $9.0 Million
45                    Bugatti Chiron Profil√©e         Price: $10.8 Million
46                       Rolls-Royce Sweptail         Price: $12.8 Million
47                   Bugatti La Voiture Noire         Price: $13.4 Million
48                      Rolls-Royce Boat Tail  Price: $28.0 Million (est.)
49         Rolls-Royce La Rose Noire Droptail    Price: $30 Million (est.)